<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="John Otu">

    <title>Mitman - Manage your meetups for an awesome experience</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">

    <style>
      body {
        padding-top: 54px;
      }

      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }

      header.masthead {
        background: url('https://s20.postimg.org/4jaivr7vx/workplace-1245776_1920.jpg') no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
      }

      header.masthead>.overlay {
        padding: 5rem 0;
        text-align: center;
        background: rgba(0, 0, 0, 0.6);
      }

      @media (min-width: 992px) {
        header.masthead>.overlay {
          padding: 10rem 0;
        }
      }
    </style>

  </head>

  <body>
    <script>
      window.fbAsyncInit = function () {
        FB.init({
          appId: '1892957380733858',
          xfbml: true,
          version: 'v2.11'
        });
        FB.AppEvents.logPageView();
      };

      (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#"><img src="https://s20.postimg.org/pt373lcgt/mitman_logo.png" width="70" alt=""></a>
      </div>
    </nav>
    
    <header class="masthead">
      <div class="overlay">
        <div class="container">
          <h1 class="display-1 text-white">Mitman</h1>
          <h2 class="display-4 text-white">Your meetup manager!</h2>
        </div>
        <div class="fb-like float-right" data-share="false" data-width="100" data-show-faces="false">
        </div>
      </div>
    </header>
    
    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 order-2">
            <div class="p-5">
              <img class="img-fluid" src="https://s20.postimg.org/pk0kh1lsd/mitman_demo_2_iphone6_spacegrey_portrait.png" alt="" width="500">
            </div>
          </div>
          <div class="col-md-6 order-1">
            <div class="p-5">
              <h2 class="display-4">For organizers</h2>
              <p class="lead">Mitman is a bot on Messenger that helps you register attendees, collect feedback (survey), reserve SWAG (if available) and generate reports and important stats about a meetup.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>

</html>