<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="John Otu">

    <title>Mitman - Terms and Conditions</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">

    <style>
      body {
        padding-top: 54px;
      }

      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }
    </style>

  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    </nav>
    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-12">
            <h2 class="display-4">Mitman Terms and Conditions</h2>
            <hr>
            <p>By using <a href="https://mitman.herokuapp.com website">Mitman</a> service you are agreeing to be bound by the following terms and conditions (“Terms of Use”).</p>

            <h3>Basic Terms</h3>
            <p>
               You must be 13 years or older to use this service. You may not post nude, partially nude, or sexually suggestive photos. You
              are responsible for any activity that occurs under your screen name. You are responsible for keeping your password secure.
              You must not abuse, harass, threaten, impersonate or intimidate other Mitman users. You may not use the Mitman service
              for any illegal or unauthorised purpose. International users agree to comply with all local laws regarding online conduct
              and acceptable content. You are solely responsible for your conduct and any data, text, information, screen names, graphics,
              photos, profiles, links (“Content”) that you submit, post, and display on the Mitman service. You must not modify, adapt
              or hack Mitman or modify another website so as to falsely imply that it is associated with Mitman. You must not access
              Mitmans private API by any other means other than the Mitman application itself. You must not crawl, scrape, or otherwise
              cache any content from Mitman including but not limited to user profiles and photos. You must not create or submit unwanted
              email or comments to any Mitman members (“Spam”). You must not use web URLs in your name without prior written consent
              from Mitman. You must not transmit any worms or viruses or any code of a destructive nature. You must not, in the use
              of Mitman, violate any laws in your jurisdiction (including but not limited to copyright laws). Violation of any of these
              agreements will result in the termination of your Mitman account. While Mitman prohibits such conduct and content on
              its site, you understand and agree that Mitman cannot be responsible for the Content posted on its web site and you nonetheless
              may be exposed to such materials and that you use the Mitman service at your own risk.
            </p>

            <h3>General Conditions</h3>
            <p>Messages sent are not encrypted P2P so please do not share any personal data. We reserve the right to modify
            or terminate the Mitman service for any reason, without notice at any time. We reserve the right to alter these Terms
            of Use at any time. We may or may not inform you about changed Terms so check back from time to time. We reserve the right
            to refuse service to anyone for any reason at any time. We reserve the right to force forfeiture of any username that becomes
            inactive, violates trademark, or may mislead other users. We may, but have no obligation to, remove Content and accounts
            containing Content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, obscene
            or otherwise objectionable or violates any party’s intellectual property or these Terms of Use. We reserve the right to reclaim
            usernames on behalf of businesses or individuals that hold legal claim or trademark on those usernames.</p>

            <h3>Web browser cookies</h3>
            <p>Our Site may use "cookies" to enhance User experience. User's web browser places cookies on their hard drive
              for record-keeping purposes and sometimes to track information about them. User may choose to set their web
              browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts
              of the Site may not function properly.</p>

            <p>This document was last updated on November 30, 2017</p>
          </div>
        </div>
      </div>
    </section>
  </body>

</html>